/**************** Global ****************/
h1 {
  font-size: 36px;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 25px;
}

p {
  font-size: 16px;
}

button {
  font-family: "Lexend", sans-serif;
}

/******************************** 1. opskriftSection - billede og tekst ********************************/
.opskriftSection {
  background-color: #f0e7c8;
  border-radius: 1rem 1rem 0 0;
  padding-bottom: 3rem;
  width: 60%;
  margin: 3rem auto 0;
}

.opskriftHeader {
  display: flex;
  padding: 2rem 2rem;
  gap: 2rem;
}

.opskriftHeader h2 {
  padding-bottom: 0.5rem;
}

.opskriftHeader img {
  width: 45%;
  border-radius: 2rem;
}

.opskriftHeader p {
  margin: 1rem 0;
  font-size: 18px;
}

.recipe-info p {
  display: grid;
  grid-template-columns: 160px auto;
}

/********** 1. opskriftSection - collapsible *********/
.collapsible {
  background-color: #f0e7c8;
  cursor: pointer;
  padding: 1rem 3rem 1.5rem;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
}

/* hover */
.active,
.collapsible:hover {
  background-color: #d1c8a7;
}

/* når den er klikket på */
.content {
  padding: 0rem 5rem 2rem;
  display: none;
  background-color: #f0e7c8;
}

.content li {
  margin-bottom: 20px;
}

/******************************** 2. kommentarSection  ********************************/
.kommentarSection {
  background-color: #ffc166;
  width: 60%;
  margin: auto;
  padding: 2rem 3rem;
}

.box {
  border-radius: 20px;
  padding-top: 1rem;
  padding-left: 2rem;
  background-color: #ffecce;
  margin-top: 0.8rem;
  color: #2d2d2d;
  padding: 1rem;
}

.box2 {
  border-radius: 20px;
  width: 100%;
  padding: 1rem 1rem 2rem;
  background-color: #fff;
  display: block;
  margin-block: 1rem;
  border: none;
  font-family: "Lexend", sans-serif;
  font-size: 18px;
}

.box2:focus {
  border: 2px solid rgb(164, 164, 164);
  outline: none;
}

.kommentarSection p {
  font-size: 18px;
}

.kommentarSection button {
  display: block;
  margin: 0 auto;
}

.skrivHer {
  padding-top: 4rem;
}

/******************************** 3. ratingSection  ********************************/
.ratingSection {
  background-color: #f0e7c8;
  width: 60%;
  margin: auto;
  margin-bottom: 2rem;
  border-radius: 0 0 1rem 1rem;
  padding: 5rem;
  text-align: center;
}

.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin: 1.5rem 0;
}

.rating input {
  display: none;
}

.rating label {
  font-size: 80px;
  color: #ccc;
  cursor: pointer;
}

.rating input:checked ~ label {
  color: gold;
}

.rating label:hover,
.rating label:hover ~ label {
  color: gold;
}

.ratingSection button,
.kommentarSection button {
  width: 250px;
  padding: 8px;
  font-size: 16px;
}

/******************************** Mindre version  ********************************/
@media (max-width: 1000px) {
  /* 1 */
  .opskriftSection {
    width: 80%;
    margin: auto;
  }

  .opskriftHeader img {
    width: 90%;
    border-radius: 2rem;
  }

  /* 2 */
  .kommentarSection {
    width: 80%;
    margin: auto;
  }

  .box {
    margin: 1rem 0;
    width: 90%;
  }

  .box2 {
    border-radius: 2rem;
    padding: 2rem 5rem;
  }

  .skrivHer {
    justify-self: center;
  }

  /* 3 */
  .ratingSection {
    margin: 0 10rem 3rem;
    padding: 5rem;
  }
}

/******************************** MOBIL  ********************************/

@media (max-width: 600px) {
  /* 1 */

  img {
    display: block;
    margin: 0 auto;
    width: 100%;
  }

  .opskriftSection {
    margin: auto;
    margin-top: 2rem;
  }

  .opskriftHeader {
    display: grid;
    grid-template-columns: 1fr;
    justify-self: center;
    padding: 3rem 2rem 1rem;
  }

  .collapsible {
    padding: 1rem 2rem;
  }

  /* 2 */

  .kommentarSection {
    padding: 2rem;
    margin: auto;
  }

  .box {
    margin: auto;
    margin-bottom: 20px;
    padding: 1rem;
  }

  .box2 {
    width: 90%;
    height: 100px;
    margin: auto;
    padding-left: 2rem;
    padding-block: 2rem;
    margin-bottom: 2rem;
  }

  /* 3 */
  .ratingSection {
    margin: auto;
    width: 80%;
    margin-bottom: 2rem;
  }
}
