/************ Reset **************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  border-radius: 10px;
  width: 100%;
  height: auto;
  display: block;
}

/************ Layout **************/

.forside-title {
  text-align: center;
  padding-top: 2rem;
}

.main-box {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 2rem;
  align-items: start;
}

#sidepanel {
  position: sticky;
  top: 0;
  background-color: #ff8445;
  padding: 2rem;
  padding-bottom: 40rem;
  overflow-y: hidden;
}

#recipe-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin: 2rem;
  margin-top: 2rem;
}

/************ Cards **************/
.recipe-card {
  background: #ffc166;
  border-radius: 14px;
  overflow: hidden;
}

.recipe-card img {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.card-title {
  margin: 1rem 0;
  font-size: 1.3rem;
  color: #232323;
}

.recipeBtn {
  display: inline-block;
  margin-top: 0.5rem;
  padding: 0.7rem 1rem;
  background: #ff8445;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  width: 100%;
  text-align: center;
}

.recipeBtn:hover {
  filter: brightness(90%);
}

.cardInfo {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

/************ Filter **************/
.filterBtn,
.dropbtn {
  width: 100%;
  padding: 0.8rem 1rem;
  margin-bottom: 0.7rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #b22000;
  color: white;
  font-size: 1rem;
  font-family: "Lexend", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.filterBtn {
  width: 90%;
  margin: auto 10px 10px;
  background-color: #ffc166;
}

.filterBtn:hover,
.dropbtn:hover {
  filter: brightness(90%);
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
}

.dropdown-content.show {
  display: block;
}

#resetBtn {
  margin-top: 1rem;
  width: 90%;
  padding: 0.8rem 1rem;
  margin-bottom: 0.7rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #b22000;
  color: white;
  font-size: 1rem;
}

#resetBtn:hover {
  filter: brightness(90%);
}

.ikon {
  background-color: #f6b657;
  border-radius: 10px;
  text-align: center;
  padding: 0.5rem;
  color: #000000bf;
}

.ikon-img {
  height: 60%;
  padding: 0.6rem;
  opacity: 80%;
}

.space {
  margin-top: 0.5rem;
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  color: #000000ca;
  background-color: #f6b657;
}

.ikonBox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
/************ Responsive **************/
@media (max-width: 800px) {
  .main-box {
    grid-template-columns: 1fr;
  }

  #sidepanel {
    position: static;
    padding-bottom: 3rem;
  }

  .ikon-img {
    height: 80%;
    padding: 0.6rem;
  }

  .ikon {
    padding-bottom: 1rem;
  }
}
